{% extends 'base.html' %}

{% block title %}Edit {{ post.title }}{% endblock %}

{% block content %}
<form class="bg-white p-5 rounded mt-3" action="" method="POST">
    <h1 class="text-center">Create New Post</h1>

    {{ form.csrf_token }}

    {{ form.title.label }}
    {{ form.title(class='form-control', value=post.title) }}

    {{ form.body.label }}
    {{ form.body(class='form-control', value=post.body)}}

    {{ form.submit(class='btn btn-primary w-100 mt-3') }}
</form>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger w-100 mt-3" data-bs-toggle="modal" data-bs-target="#deletePostModal">
    Delete Post
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deletePostModalLabel">Delete Post?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{ post.title }}? you cannot undo this action.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <a class="btn btn-danger" href="{{ url_for('delete_post', post_id=post_id) }}"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}