<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kekambas Blog</title>
</head>
<body>
    <h1>Hello {{ user.get('username') }}</h1>
    <h4>This is the home page!</h4>
    <h6>Email: {{ user.get('email') }}</h6>
    <h3>My favorite colors</h3>
    <ul>
        {% for color in colors%}
        <li>{{ color }} </li>
        {% endfor %}
    </ul>
</body>
</html>