{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Hello {{ user.get('username') }}!</h1>
    <h4>This is the home page.</h4>
    <h6>Email: {{ user['email'] }}</h6>
    <p>{{ 4 + 7 }}</p>
    <h3>My favorite colors:</h3>
    <ul>
        {% for color in colors %}
            {% if color == 'blue' %}
                <li>{{ color.upper() }}</li>
            {% else %}
                <li>{{ color.lower() }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}